body {
  max-width: 1920px;
  margin: 0  auto;
  /* background-color: ; */
  min-width: 300px;
  cursor:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  /* cursor:url("http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif"), auto; */
}
