.d-block{
  display: block !important;
}
.d-none{
  display: none !important;
}
.d-flex{
  display: flex !important;
}
.my-menu-icon{
  // fill: #111;
  fill: #747272;
  &:hover{
    // fill: #a1a0a0;
    fill: #a1a0a0;
  }
}
.my-menu-close-icon{
  fill: white;
  &:hover{
    fill: darkgrey;
  }
}