.tournament-container {
    background-color: #f7f9fb;
    min-height: 100vh;
    .game-container{

    }
}

.tmnt-game-container {
    .game-logo {
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }
}


.tournament-form {
    max-width: 900px;
    margin: 0 auto;

    .tmnt-form-submit {
        button {
            width: 250px;
            min-height: 38px;
        }
    }

    input {
        box-shadow: none !important;
    }

    .form-control.is-valid {
        background-image: none;
    }

    .form-control.is-invalid {
        background-image: none;
    }

    .form-control-sm.is-valid {
        background-image: none;
    }

    .form-control-sm.is-invalid {
        background-image: none;
    }

    .form-control-lg.is-valid {
        background-image: none;
    }

    .form-control-lg.is-invalid {
        background-image: none;
    }
}